@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

:root {
  /* Fonts: */
  --poppins-regular: 'Poppins', sans-serif;
  --black-han: 'Black Han Sans', sans-serif;

  /* Colors: */
  --navy: #15274c;
  --white: #f8f9fb;
  --gray: #bfc5cf;
  --gray-light: #d2d3d9;
  --black: #111217;
  --mate: #333333;
  --purple-dark: #362e61;
  --purple-light: #7260d9;
  --purple-light2: #7771de;
  --blue: #0065ff;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
