.login {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  font-family: var(--poppins-regular);
}

.card-container-session {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  width: 560px;
  height: 880px;

  border-radius: 13px;
  box-shadow: 5px 8px 29px #00000029;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 110px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5px;

  font-family: var(--poppins-regular);
  color: var(--gray);
}

.anchor {
  color: var(--blue);
}

.parr {
  font-size: 15px;
  color: var(--gray);
  text-align: center;
}

.lab {
  padding: 7px;
}

.input {
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  margin-bottom: 20px;
}

.field > div {
  display: flex;
  align-items: center;
  width: 100%;
}

.svg-icon {
  width: 15px;
  height: 20px;

  margin-right: 7px;
}

.btn {
  border-radius: 5px;
  width: 262px;
  height: 38px;

  background: #7260d9 0% 0% no-repeat padding-box;
  color: white;
  border: 0;
  cursor: pointer;

  font-family: var(--poppins-regular);
  font-size: 18px;
}

.btn:hover {
  background-color: #8e7fe2;
}

.other-logins {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-logins {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.button-container {
  width: 78px;
  height: 44px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-container:not(:first-child) {
  margin-left: 14px;
}

.google-btn {
  width: 24px;
  height: 24px;
}
.facebook-btn {
  width: 26px;
  height: 26px;
}

.email-btn {
  width: 31px;
}

.register-text {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
